@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color: #44AAFF;
    --bg: #15181B;
    --white: #FFF;
    --grey: #666666;
}
*{box-sizing: border-box;
font-family: "Roboto", sans-serif;}